* {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #2c2c2c;
}

h1 {
  font-weight: normal;
  font-size: em;
}

.container {
  justify-content: center;
  margin: 20px;
}
